.terminal {
    background-color: black;
    color: limegreen;
    font-family: "Courier New", monospace;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .output {
    width: 80%;
    max-width: 600px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  input {
    background: none;
    border: none;
    color: limegreen;
    font-size: 18px;
    width: 100%;
    margin-top: 5px;
  }
  
  input:focus {
    outline: none;
  }
  
  .submitBtn{
    background: none;
    border: 1px solid limegreen;
    color: limegreen;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .submitBtn:hover {
    background-color: rgba(50, 205, 50, 0.2);
    box-shadow: 0 0 10px limegreen;
    text-shadow: 0 0 5px limegreen;
  }
  
  .start-btn {
    margin-top: 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust space between text and input */
  }
  
  .blinking-cursor {
    padding: 5px;
    font-size: 16px;
  }
  